<div 
	class="queue-list"
	cdkDropList
	[cdkDropListData]="queue.entries"
	(cdkDropListDropped)="onCdkDrop($event)"
	(dragenter)="onDragEnter($event)"
	(dragleave)="onDragLeave($event)"
	(dragover)="onDragOver($event)"
	(drop)="onDrop($event)"
	(keydown)="onKeydown($event)"
	tabindex="0"
	>
	@for (item of queue.entries; track item; let i=$index) {
		<div class="queue-entry" 
			[style.color]="item.color"
			[class.selectedEntry]="i == selectedIndex"
			cdkDrag
			(click)="onClick($event)"
			(dblclick)="onDoubleClick($event)">

			<div class="entry-title">
				<span><span>{{formatOffset(item.offset)}}</span> &nbsp; <span>{{formatTitle(item.name)}}</span></span>
				<span>{{formatDuration(item.duration)}}</span>
			</div>
			@if (showSubQueueContent) {
				<ul class="subqueue">
				@for (subitem of $any(item).entries; track subitem) {
					<li>
						{{formatTitle(subitem.name)}}
					</li>
				}
				</ul>
			}
		</div>
	}
</div>
