<mat-expansion-panel expanded="true">
	<mat-expansion-panel-header>
		<mat-panel-title [style.color]="queue.color"> {{queue.name}} </mat-panel-title>
	</mat-expansion-panel-header>
	<div>

		<mat-toolbar>
			@if (subQueueContentToggle) {
				<mat-checkbox [(ngModel)]="showSubQueueContent">Show sub-queue content</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
			}
			@if (!readonly) {
				<button>Clone</button>&nbsp;<button>Schedule</button>&nbsp;
			}
			<button (click)="onCloseClicked()">&nbsp;X&nbsp;</button>
		</mat-toolbar>
		<br>

		<app-queue [queue]="queue" [readonly]="readonly" [showSubQueueContent]="showSubQueueContent" />
	</div>
</mat-expansion-panel>