<mat-expansion-panel expanded="true">
	<mat-expansion-panel-header>
		<mat-panel-title [style.color]="queue.color"> {{queue.name}} </mat-panel-title>
	</mat-expansion-panel-header>
	<div>
		@if (!readonly) {
		<div class="toolbar">
			<button>Clone</button>&nbsp;<button>Schedule</button>&nbsp;<button>&nbsp;X&nbsp;</button>
		</div>
		<br>
		}
		@if (subQueueContentToggle) {
		<div class="toolbar">
			<label><input type="checkbox" [(ngModel)]="showSubQueueContent">Show sub-queue content</label>
		</div>
		<br>
		}
		<app-queue [queue]="queue" [readonly]="readonly" [showSubQueueContent]="showSubQueueContent" />
	</div>
</mat-expansion-panel>