<div 
	class="queue-list"
	cdkDropList
	[cdkDropListData]="queue.entries"
	(cdkDropListDropped)="onCdkDrop($event)"
	(dragenter)="onDragEnter($event)"
	(dragleave)="onDragLeave($event)"
	(dragover)="onDragOver($event)"
	(drop)="onDrop($event)"
	(keydown)="onKeydown($event)"
	tabindex="0"
	>
	@for (item of queue.entries; track item; let i=$index) {
		<div class="queue-entry" 
			[style.color]="item.color"
			[class.selectedEntry]="i === selectedIndex"
			cdkDrag
			(click)="onClick($event)"
			(dblclick)="onDoubleClick($event)">

			<div class="entry-title">
				<span><span>{{item.offset | offset}}
					@if (supportsSubQueues) {
						&nbsp;
						@if (item.scheduled) {
							🔨
						} @else if (($any(item).type && queueTypes[$any(item).type].scheduleStrategy === "subset-sum")
									|| (item.queueRef && queueTypes[queues[item.queueRef].type].scheduleStrategy === "subset-sum")) {
							↕️
						} @else {
							🏊
						}
					}
				</span> &nbsp; 
				<span>{{item.name | title}}</span></span>
				<span>{{item.duration | duration}}</span>
			</div>
			@if (showSubQueueContent && item.queueRef) {
				<ul class="subqueue">
				@for (subitem of queues[item.queueRef].entries; track subitem) {
					<li>
						{{subitem.name | title}}
					</li>
				}
				</ul>
			}
		</div>
	}
</div>
