<div class="toolbar">
	<button (click)="onDebugClicked()">D</button>
	<select [(ngModel)]="newQueueType" (change)="newQueue()">
		<option value="">-- New --</option>
	    @for (queueType of queueTypeArray; track queueType) {
	      <option [value]="queueType.name" [style.color]="queueType.color">{{queueType.name}}</option>
	    }
	</select>
	<button (click)="onPickRoot()">Open</button>
	<button (click)="onSettingsClicked()">⚙️</button>
</div>
<div cdkDropListGroup>
	<div class="queue-container">
		@for (item of queues | keyvalue; track item.value) {
			@if (item.value.visible) {
				<app-queue-window
					[(queues)]="queues"
					[queue]="item.value"
					[readonly]="item.value.name == 'History' || item.value.name == 'Main Queue'"
					[subQueueContentToggle]="item.value.name == 'Main Queue'" />
			}
		}
	</div>
</div>