<div class="toolbar">
	<select [(ngModel)]="newQueueType" (change)="newQueue()">
		<option value="">-- New --</option>
	    @for (queueType of queueTypeArray; track queueType) {
	      <option [value]="queueType.name" [style.color]="queueType.color">{{queueType.name}}</option>
	    }
	</select>
	<button (click)="onPickRoot()">Open</button>
	<button (click)="onSettingsClicked()">⚙️</button>
</div>
<div cdkDropListGroup>
	<div class="queue-container">
		@for (queue of queues; track queue) {
			@if (queue.visible) {
				<app-queue-window 
					[queue]="queue"
					[readonly]="queue.name == 'History' || queue.name == 'Main Queue'"
					[subQueueContentToggle]="queue.name == 'Main Queue'" />
			}
		}
	</div>
</div>