  <label for="volume">Volume:</label>
  <input id="volume" type="range" min="0" max="1" step="0.01" [(ngModel)]="volumne" />

<span [style.color]="currentParentEntry?.color">{{currentParentEntry?.name | title}}</span>
➡
<span [style.color]="currentEntry?.color">{{currentEntry?.name | title}}</span>

&nbsp;

{{remainingTime | duration}}

<audio 
	#audio
	autoplay
	[volume]="volumne"
	[src]="url"
	(timeupdate)="onTimeUpdate()"
	(ended)="onEnded()"
	(error)="onError()">
</audio>
&nbsp;

<button (click)="onPlayClicked()">▶️</button>
<!--
{{entry.name}}

timeupdate  [currentTime]
ended
-->