  <label for="volume">Volume:</label>
  <input id="volume" type="range" min="0" max="1" step="0.01" [(ngModel)]="volumne" />

@if (current && current.length > 0) {
	<span [style.color]="current[0].color">{{current[0].name | title}}</span>
	➡
	@if (current.length > 1) {
		<span [style.color]="current[1].color">{{current[1].name | title}}</span>
	} @else {
		(waiting)
	}
}
&nbsp;

{{remainingTime | duration}}

@if (url) {
	<audio 
		#audio
		autoplay
		[volume]="volumne"
		[src]="url"
		(timeupdate)="onTimeUpdate()"
		(ended)="onEnded()"
		(error)="onError()">
	</audio>
}
&nbsp;

<button (click)="onPlayClicked()">▶️</button>