mat-toolbar {
	padding: 0;
	height: inherit;
}

.toolbar {
	text-align: right;
	background-color: #DDD;
	padding: 5px;
}

h3 {
	font-size: 100%;
	font-weight: normal;
	line-height: 150%;
	margin: 0; 
	flex-grow: 1;
}


/* Basic styles for the window */
.window {
  position: absolute;
  border: 1px solid rgb(154, 153, 150);
  border-radius: 15px 15px 5px 5px;
  background-color: #fff;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  cursor: default;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}

/* Draggable header */
.header {
  background-color: #e0f0ff;
  color: #000;
  padding: 5px 10px;
  cursor: move;
  user-select: none;
  display: flex;
}

/* Content area of the window */
.content {
  flex-grow: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-queue {
	flex-grow: 1;
	overflow: auto;
}

/* Resizer at the bottom-right corner */
.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #a0c0ff;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
