<div class="window"
	[ngStyle]="{ 'top.px': position.top, 'left.px': position.left, 'width.px': size.width, 'height.px': size.height, 'z-index': zIndex }"
	(mousedown)="bringToFront()">
	<!-- Header (for dragging) -->
	<div class="header" (mousedown)="onMouseDown($event)">
		<h3 class="windowtitle" [style.color]="queue.color"> {{queue.name}}</h3>
		<button (click)="onCloseClicked()">&nbsp;X&nbsp;</button>
	</div>

	<!-- Content -->
	<div class="content">
		<mat-toolbar>
			@if (supportsSubQueues) {
			<mat-checkbox [(ngModel)]="showSubQueueContent">Show sub-queue
				content</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
			}
			@if (!readonly) {
			<button (click)="onCloneClicked()">Clone</button>&nbsp;
			<button (click)="onScheduleClicked()">Schedule</button>&nbsp;
			}
		</mat-toolbar>
		<br>

		<app-queue [(queues)]="queues" [supportsSubQueues]="supportsSubQueues" (queuesChange)="onQueuesChange($event)"
			[queue]="queue" [queueTypes]="queueTypes" [readonly]="readonly"
			[showSubQueueContent]="showSubQueueContent" />
	</div>
	<!-- Resizer (for resizing) -->
	<div class="resizer" (mousedown)="onMouseDown($event)"></div>
</div>
